</html>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/commonHead.ejs', title) %>
        <link rel="stylesheet" href="/public/css/login.css">

</head>

<body>
    <div class="sidenav">
        <div class="login-main-text">
            <h2>Application<br> Login Page</h2>
            <p>Login or register from here to access.</p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <p id="loginNecessary" class="text-center dangerText">Incorrect username or password ‼</p>
                <p id="loginErrorText" class="text-center dangerText"></p>
                <form>
                    <div class="form-group">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                    </div>
                    <div id="pass_margin" class="form-group">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Password"
                            name="password">
                    </div>
                    <button id="login-btn" type="button" class="btn btn-black">Login</button>
                    <button id="register-btn" type="button" class="btn btn-secondary"><a
                            href="/signup">Register</a></button>
                </form>
            </div>
        </div>
    </div>
    <%- include('../common/commonScripts.ejs') %>
        <script src="/public/js/login.js"></script>
</body>

</html>