<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/commonHead.ejs', title) %>
        <link rel="stylesheet" href="../../public/css/signup.css">
</head>

<body>
    <div class="wrapper" style="background-image: url('../../public/img/login.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="https://wallpaperaccess.com/download/facebook-1493745" alt="">
                <div class="row">
                    <div class="col-md-12"> <a id="btn"
                            class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="#"><img
                                id="facebook" src="https://img.icons8.com/color/100/000000/facebook.png"> Signup Using
                            Facebook</a> </div>
                </div> <br>
                <div class="or-container">
                    <div class="line-separator"></div>
                    <div class="or-label">or</div>
                    <div class="line-separator"></div>
                </div>
                <div class="row">
                    <div class="col-md-12"> <a id="btn1"
                            class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="#"><img id="google"
                                src="https://img.icons8.com/color/50/000000/google-logo.png"> Signup Using
                            Google</a> </div>
                </div> <br>
            </div>
            <form action="">
                <h3>Registration Form</h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="fName" placeholder="Forename" name="fName">
                    <input type="text" class="form-control" id="lName" placeholder="Surname" name="lName">
                </div>
                <div class="form-wrapper">
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="form-wrapper">
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="form-wrapper">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <div class="form-wrapper">
                    <div id="radio-gender">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked>
                            <label class="form-check-label" for="male">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                            <label class="form-check-label" for="female">
                                Female
                            </label>
                        </div>
                    </div>
                    <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
                </div>
                <p id="signupNecessary" class="text-center dangerText">Invalid inpute ❗</p>
                <p id="errorText" class="text-center dangerText">Invalid inpute ❗</p>
                <button id="signup-btn" type="button" class="form-control btn btn-primary">Signup
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
    <%- include('../common/commonScripts.ejs') %>
        <script src="/public/js/signup.js"></script>
</body>

</html>