<div class="d-flex col-12 m-0 p-0 justify-content-center mt-2">
    <ul id="Arrow" class="pagination">
        <li class="page-item active"><a class="page-link" href="#">۱</a></li>
        <li class="page-item "><a class="page-link" href="#">۲</a></li>
        <li class="page-item"><a class="page-link" href="#">۳</a></li>
        <li class="page-item"><a class="page-link" href="#">۴</a></li>
    </ul>
</div>