<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../common/header.ejs', title) %>
</head>

<body>
  <div class="container-fluid">
    <%- include('../common/navbar.ejs', active) %>
      <h1>درباره ما</h1>
  </div>
  <%- include('../common/scripts.ejs') %>
</body>

</html>