<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%- include('../common/header.ejs', title) %>
</head>

<body>
  <div class="container-fluid">
    <%- include('../common/navbar.ejs', active) %>
      <h1>تماس با ما</h1>
  </div>
  <%- include('../common/scripts.ejs') %>
</body>
</html>